/*==Style cơ bản cho website==*/
html {
    font-family: "Lucida Sans", sans-serif;
}
/*==Style cho menu===*/
.pd-le-ri_6 {
    padding-left: 6px !important;
    padding-right: 6px !important;
}
.image-home {
    width: 100%;
}
.footer {
    background-color: black;
    color: white;
    font-size: 12px;
}
.block7 {
    text-decoration: none;
}
.block-head {
    font-size: 20px;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 20px;
}
.block_text_medium {
    font-size: 22px;
    font-weight: bold;
    margin-top: 35px;
}
.block_text_small {
    font-weight: bold;
}
.mar_bot_submit {
    margin-bottom: 50px !important;
}
.big_map{
    display: block;
}

/* media query screen for screen 576px*/
@media screen and (max-width: 576px) {
    .navbar-toggle.f-left__btn {
        float: left;
        margin-left: 22px;
    }
    .navbar-brand.icon-nav {
        float: right;
        margin-right: 12px;
    }
    .navbar-brand{
        float: left;
        text-align: center;
        font-size: 15px;
    }
    #brand-head {
        color: #2196f3;
        width: 138px;
    }
    .navbar {
        margin-bottom: 0px !important;
    }
    .pd-le-ri_6 {
        color: black !important;
    }
    .pd_0{
        padding: 0 !important;
    }
    .title-foot {
        font-size: 19px;
    }
}

/* media query screen for screen 576px*/
@media only screen and (min-width: 576px) {
    .navbar-toggler-icon {
        float: left;
    }
    .navbar-toggle.f-left__btn {
        float: left;
        margin-left: 22px;
    }
    .navbar-brand.icon-nav {
        float: right;
        margin-right: 12px;
    }
    .navbar-brand{
        float: left;
        text-align: center;
        font-size: 15px;
    }
    #brand-head {
        color: #2196f3;
    }
    .navbar {
        margin-bottom: 0px !important;
    }
    .pd-le-ri_6 {
        color: black !important;
    }
    .pd_0{
        padding: 0 !important;
    }
    .title-foot {
        font-size: 19px;
    }
}
/* media query screen for screen 768px */
@media only screen and (min-width:768px) {
    .navbar {
        border-radius: 0px !important;
        padding-bottom: 10px;
        padding-top: 10px;
        margin-bottom: 0px !important;
        background-color: #0668b7 !important;
        border-color: blue !important;
    } 
    #navbar1  {
        float: right;
        padding-right: 30px;
        padding-left: 0px;
    }
    #brand-head {
        padding-left: 120px;
        padding-right: 0px;
        color: white;
        font-size: 20px;
    }
    .pd_0{
        padding: 0 !important;
    }
    .pd-le-ri_6 {
        color: white !important;
    }
    #sty-home {
        color: #b39b2c !important;
        font-size: 12px;
    }
    .icon-nav1 {
        color: white !important;
    }
    .icon-nav {
        display: none;
    }
}

/* media query screen for screen 1200px*/
@media screen and (min-width: 1200px){
    .pd_0{
        padding: 0 !important;
    }
    .navbar {
        border-radius: 0px !important;
        padding-bottom: 20px;
        padding-top: 20px;
        margin-bottom: 0px !important;
        background-color:  #0668b7 !important;
        border-color: blue !important;
    } 
    #brand-head {
        padding-left: 320px;
        color: white;
        font-size: 25px;
    }
    #navbar1 {
        float: right;
        padding-right: 320px;
    }
    #sty-home {
        color: #c7a817 !important;
        font-size: 13px
    }
    .navbar-brand.icon-nav {
        display: none;
    }
    .pd-le-ri_6 {
        color: white !important;
    }
    .title-foot {
        font-size: 16px;
        padding-top: 30px;
    }
    
  
}
